<!DOCTYPE html>
<html>
<head>
    <title>Estadisticas Manchester City</title>
    <link rel="stylesheet" href="/static/css/TablaManchesterCity.css">
</head>
<body>
    <h1>Estadisticas Manchester City</h1>
    <table border="1">
        <tr>
            {% for key in datos[0] %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for jugador in datos %}
            <tr>
                {% for value in jugador.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a href="/graficoManchester">Ver Grafico</a>
    <a href="{{ url_for('pdf_manchester') }}">Descargar pdf</a>
</body>
</html>