<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/RealMadrid.css">
    <link rel="icon" href="/static/assets/madrid/escudoreal.png">
    <title>Real Madrid</title>
</head>
<body>
    <h1></h1>
    <a href="{{ url_for('regresar_realmadrid') }}" class="boton-regresar">Regresar</a>
    <div class="container-jugadores">
        <!-- Jugador 1 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Courtois', event)">
                <img src="/static/assets/madrid/courtois.png" alt="">
                <div class="pie">
                    <p>Courtois</p>
                </div>
            </a>
        </div>

        <!-- Jugador 2 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Lunin', event)">
                <img src="/static/assets/madrid/lunin.png" alt="">
                <div class="pie">
                    <p>Lunin</p>
                </div>
            </a>
        </div>

        <!-- Jugador 3 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Dani Carvajal', event)">
                <img src="/static/assets/madrid/carvajal.png" alt="">
                <div class="pie">
                    <p>Dani Carvajal</p>
                </div>
            </a>
        </div>
        <!-- Jugador 4 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Eder Militao', event)">
                <img src="/static/assets/madrid/militao.png" alt="">
                <div class="pie">
                    <p>Eder Militao</p>
                </div>
            </a>
        </div>
        <!-- Jugador 5 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Antonio Rüdiger', event)">
                <img src="/static/assets/madrid/rudiger.png" alt="">
                <div class="pie">
                    <p>Antonio Rüdiger</p>
                </div>
            </a>
        </div>

        <!-- Jugador 6 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Lucas Vázquez', event)">
                <img src="/static/assets/madrid/lucas.png" alt="">
                <div class="pie">
                    <p>Lucas Vázquez</p>
                </div>
            </a>
        </div>

        <!-- Jugador 7 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Jude Bellingham', event)">
                <img src="/static/assets/madrid/jude.png" alt="">
                <div class="pie">
                    <p>Jude Bellingham</p>
                </div>
            </a>
        </div>

        <!-- Jugador 8 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Toni Kroos', event)">
                <img src="/static/assets/madrid/kroos.png" alt="">
                <div class="pie">
                    <p>Toni Kroos</p>
                </div>
            </a>
        </div>

        <!-- Jugador 9 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('luka modrić', event)">
                <img src="/static/assets/madrid/luca.png" alt="">
                <div class="pie">
                    <p>luka modrić</p>
                </div>
            </a>
        </div>

        <!-- Jugador 10 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Fede Valverde', event)">
                <img src="/static/assets/madrid/valverde.png" alt="">
                <div class="pie">
                    <p>Fede Valverde</p>
                </div>
            </a>
        </div>

        <!-- Jugador 11 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Eduardo Camavinga', event)">
                <img src="/static/assets/madrid/camavinga.png" alt="">
                <div class="pie">
                    <p>Eduardo Camavinga</p>
                </div>
            </a>
        </div>

        <!-- Jugador 12 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Aurélien Tchouaméni', event)">
                <img src="/static/assets/madrid/thouameni.png" alt="">
                <div class="pie">
                    <p>Aurélien Tchouaméni</p>
                </div>
            </a>
        </div>

        <!-- Jugador 13 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Joselu', event)">
                <img src="/static/assets/madrid/joselu.png" alt="">
                <div class="pie">
                    <p>Joselu</p>
                </div>
            </a>
        </div>
        <!-- Jugador 14 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Rodrygo', event)">
                <img src="/static/assets/madrid/rodrygo.png" alt="">
                <div class="pie">
                    <p>Rodrygo</p>
                </div>
            </a>
        </div>

        <!-- Jugador 15 -->
        <div class="galeria">
            <a href="#" class="foto" onclick="mostrarOcultarFormulario('Vini jr', event)">
                <img src="/static/assets/madrid/vini.png" alt="">
                <div class="pie">
                    <p>Vini jr</p>
                </div>
            </a>
        </div>
    </div>

    <!-- Formulario único para todos los jugadores -->
    <div id="formulario" class="formulario">
        <div class="jugador-nombre" id="nombreJugador"></div>
        <form method="POST" action="/GuardarRealMadrid">

            <label for="nombrejugador" style="visibility: hidden;">Id_jugador:</label>
        
            <!-- Utiliza el atributo value para almacenar el nombre del jugador -->
            <input type="text" id="nombrejugador" name="nombrejugador" readonly required>
    

            <label for="goles">Goles:</label>
            <input type="number" id="goles" name="goles" required min="0">

            <label for="asistencias">Asistencias:</label>
            <input type="number" id="asistencias" name="asistencias" required min="0">

            <label for="perdidos">Partidos perdidos</label>
            <input type="number" id="perdidos" name="perdidos" required min="0">

            <label for="ganados">Partidos ganados:</label>
            <input type="number" id="ganados" name="ganados" required>

            <label for="empatados">Partidos empatados:</label>
            <input type="number" id="empatados" name="empatados" required min="0">

            <label for="remates">Remates al arco</label>
            <input type="number" id="remates" name="remates" required min="0">

            <label for="tarjetas">Tarjetas Amarillas:</label>
            <input type="number" id="tarjetasamarillas" name="tarjetasamarillas" required min="0">

            <label for="tarjetas">Tarjetas Rojas:</label>
            <input type="number" id="tarjetasrojas" name="tarjetasrojas" required min="0">

            <button type="submit" id="guardarFormulario">Guardar</button>
        </form>
    </div>

    <script>
        function mostrarOcultarFormulario(nombreJugador, event) {
            event.preventDefault();
    
            var formularioMostrar = document.getElementById('formulario');
            var jugadorNombre = document.querySelector('.jugador-nombre');
    
            // Si el formulario está visible y es para el mismo jugador, oculta el formulario
            if (formularioMostrar.style.display === 'block' && jugadorNombre.innerHTML === nombreJugador) {
                cerrarFormulario();
            } else {
                // Muestra el formulario y actualiza el nombre del jugador
                formularioMostrar.style.display = 'block';
                jugadorNombre.innerHTML = nombreJugador;
    
                document.querySelector('label[for="nombrejugador"]').style.visibility = 'visible';
    
                // Asigna el nombre del jugador al campo oculto en el formulario
                document.getElementById('nombrejugador').value = nombreJugador;
    
                // Mueve el formulario debajo del jugador seleccionado
                event.currentTarget.parentNode.appendChild(formularioMostrar);
            }
        }
    
        function cerrarFormulario() {
            var formularioMostrar = document.getElementById('formulario');
            formularioMostrar.style.display = 'none';
    
            document.querySelector('label[for="nombrejugador"]').style.visibility = 'hidden';
        }
    
        const guardarFormulario = document.getElementById('guardarFormulario');
        guardarFormulario.addEventListener('click', () => {
            var datosValidos = validarDatos(); // Agrega esta función para validar los datos
            if (datosValidos) {
                alert('Datos Guardados.');
            } else {
                alert('Por favor, ingrese datos válidos (números) en todos los campos.');
            }
            return;
        });

        function validarDatos() {
            var datos = document.querySelectorAll('input[type="number"]');
            for (var i = 0; i < datos.length; i++) {
                if (isNaN(datos[i].value) || datos[i].value === '') {
                    return false;
                }
            }
            return true;
        }
    </script>
</body>
</html>
